.btn-bg {
    height: 60px;
    width: 120px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.btn-off-bg {
    background-color: rgb(197, 197, 197);
}

.btn-on-bg {
    background-color: rgb(25, 145, 0);
}

.btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    margin:  0 10px;
}

.btn-on {
    background-color: #199100;
}

.btn-off {
    background-color: #DE0000;
}

.flex-box {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.on-transition {
    /* justify-content: start; */
    transform: translateX(55px);
    transition-duration: 0.6s;
}

.off-transition {
    /* justify-content: end; */
    transform: translateX(0);
    transition-duration: 0.6s;
}

.transition-effect {
    transition-duration: 0.6s;
}